<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Library password reset</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content class="form"> 
    <div class="background-image"></div>
    <div class="welcome-message">
     Enter your email to reset password reset
    </div>
    <form>
      <ion-row>
        <ion-col class="ion-col-6">
          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" #email required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      
      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            color="danger"
            (click)="authService.PasswordRecover(email.value)"
            expand="block"

          >
            Send Password Reset Mail
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
</ion-content>