.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .book-title,
  .book-author,
  .book-section,
  .book-status {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
  }
  
  .book-author {
    width: 20%;
  }
  
  .book-section {
    width: 15%;
  }
  
  .book-status {
    width: 15%;
  }
  
  .book-actions ion-button {
    margin-right: 5px;
  }
  
ion-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

ion-searchbar {
  width: 25%;
  margin-bottom: 10px;
}

